<ion-header>
  <ion-toolbar>
    <ion-title>
      <h1>Todo List</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="rotate-center">
  <ion-card>
    <form [formGroup]="taskForm" (ngSubmit)="addTask()">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input label-placement="floating" fill="solid"
              formControlName="title"
              placeholder="type a title"
              label="Title: "
            ></ion-input>
          </ion-col>
        </ion-row>

        @if(title.errors && (title.touched || title.dirty)) {
        <ion-row>
          <ion-col>
            <ion-text color="danger">
              Title must be at least 3 characters long</ion-text
            >
          </ion-col>
        </ion-row>
        }

        <ion-row>
          <ion-col>
            <ion-input label-placement="floating" fill="solid"
              formControlName="description"
              placeholder="type a description"
              label="Description: "
            ></ion-input>
          </ion-col>
        </ion-row>
        @if(description.errors && (description.touched || description.dirty)) {
        <ion-row>
          <ion-col>
            <ion-text color="danger"
              >Description must be at least 10 characters long</ion-text
            >
          </ion-col>
        </ion-row>
        }

        <ion-row>
          <ion-col>
            <ion-button
              [disabled]="taskForm.invalid"
              type="submit"
              color="success"
              >ADD</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Tasks</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list class="card">
            <ion-item *ngFor="let task of tasks">
              <ion-thumbnail slot="start">
                <img
                  width="50"
                  height="50"
                  src="https://cdn.icon-icons.com/icons2/3252/PNG/512/tasks_app_regular_icon_204842.png"
                  alt="todo-list--v1"
                />
              </ion-thumbnail>
              <ion-label>
                <h2>{{ task.title }}</h2>
                <p>{{ task.description }}</p>
                <p *ngIf="task.done" style="color: green">Done</p>
              </ion-label>
              <ion-toggle
                class="ion-toggle-checked"
                (ionChange)="updateTaskStatus(task, $event)"
                [checked]="task.done"
                slot="end"
              ></ion-toggle>
              <ion-icon name="trash" slot="end" (click)="deleteTask(task.id)" color="danger">

              </ion-icon>

            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </form>
  </ion-card>
</ion-content>
